# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf                # Unix-style newlines b/c GitHub
insert_final_newline = true     # newline ending every file
charset = utf-8
trim_trailing_whitespace = true

# Java source file settings for proper GitHub display
[*.java]
indent_size = 4
indent_style = space

[*.{bat,cmd,ps1,[Bb][Aa][Tt],[Cc][Mm][Dd],[Pp][Ss][1]]
# DOS/Win *requires* BAT/CMD/PS1 files to have CRLF newlines
end_of_line = crlf
